if SHIELD_T23MX_LEFT

config ZMK_KEYBOARD_NAME
    default "Torus23MX"

endif # SHIELD_T23MX_LEFT

if SHIELD_T23MX_RIGHT

config ZMK_KEYBOARD_NAME
    default "Torus23MX"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_T23MX_RIGHT

if SHIELD_T23MX_LEFT || SHIELD_T23MX_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_T23MX_LEFT || SHIELD_T23MX_RIGHT
