// Dongle (central) build: no local key scanning, just act as BLE central + USB.

#include "t23mx.dtsi"

&kscan {
    status = "disabled";
};

&default_layout {
    status = "disabled";
};

/ {
    chosen {
        /delete-property/ zmk,physical-layout;
        zmk,matrix-transform = &default_transform;
    };
};
